.header {
  background-color: lightskyblue;
  height: 15vh;
  padding: 1vh;
  margin: -15px;
  color: #3a5a78;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid white;
}

.logo{
  left: 7vw;
  top: 2vh;
  position: fixed;
}
