<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<form [formGroup]="analyticsForm">
  <div class="mainscreen">

    <div class="row">
      <div class="column">
        <button (click)="buildChart()">Build Chart</button>
      </div>

      <div class="column">
        <select class="custom-select" formControlName="column_selected">
          <option value="" disabled>Select a column</option>
          <option *ngFor="let element of columns" [ngValue]="element">{{element}}</option>
        </select>
      </div>

      <div class="column">
        <select class="custom-select" formControlName="chart_type_selected">
          <option value="" disabled>Chart type</option>
          <option *ngFor="let type of chart_types" [ngValue]="type">{{type}}</option>
        </select>
      </div>

      <div class="column">
        <input type="number" formControlName="num_examples">
      </div>

    </div>

    <br>

    <canvas id="chart"></canvas>

  </div>
</form>
